$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

.constellation-container {
    width: 100%;
    height: 100%;
    max-height: 40rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    z-index: 1;
  
    &.visible {
      opacity: 1;
    }

    @media (max-width: $breakpoint-mobile) {
      height: 350px; // Increased height
    }
  }
  
  .constellation-svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    @media (max-width: $breakpoint-mobile) {
      transform: scale(1.5); // Make content 20% larger
      transform-origin: center center; // Scale from center
    }
  }
  
  .constellation-star {
    transition: cx 1s ease-in-out, cy 1s ease-in-out, fill 0.8s ease-in-out;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  
    &.antares {
      fill: #d8a1a1;
      filter: drop-shadow(0 0 3px rgba(241, 154, 154, 0.8));
    }
  
    &.spica {
      fill: #b3e0ff;
      filter: drop-shadow(0 0 3px rgba(179, 224, 255, 0.8));
    }
  
    &.transitioning {
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.4));
    }

    @media (max-width: $breakpoint-mobile) {
      r: 2; // Increased from 1.5 to make stars more visible
    }
  }
  
  .constellation-line {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 0.5;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;

    @media (max-width: $breakpoint-mobile) {
      stroke-width: 0.7; // Thicker lines for mobile
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .star-label {
    fill: rgba(255, 255, 255, 0.6);
    font-size: 2px;
    font-family: sans-serif;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;

    @media (max-width: $breakpoint-mobile) {
      font-size: 3.5px; // Increased from 3px
    }
  }
  
  .constellation-container:hover {
    .star-label {
      opacity: 1;
    }
  }